body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

.clock {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}

.title-screen {
    text-align: center;
}

.title {
    font-size: 36px;
    color: #fff;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
    margin: auto;
}

.option {
    background-color: #007bff;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.option:hover {
    background-color: #0056b3;
}

.debugs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10vh;
    margin: auto;
}

.debug {
    background-color: red;
    color: white;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.debug:hover {
    background-color: yellow;
    color: black;
}

.debug-toggledOn {
    background-color: green;
    color: black;
    pointer-events: none;
}

.game-window {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
    border: 2px white solid;
}

.top-section {
    width: 100%;
    height: 25%;
    border-bottom: 3px white solid;
}

.bottom-section {
    width: 100%;
    height: 75%;
}

.top-div-row-1,
.top-div-row-mid,
.top-div-row-2 {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-div-topDivRow1,
.inner-div-topDivRowMid {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

div[id^="playerRoleText"] {
    font-weight: bold;
    color: yellow;
}

.sub-inner-div-topDivRow1,
.sub-inner-div-topDivRowMid {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

div[id^="subInnerDiv"][id$='_1'],
div[id^="subInnerDivMid"][id$='_1'] {
    justify-content: right;
    padding-right: 20px;
}

div[id^="subInnerDiv"][id$='_1'] {
    font-size: 20px;
}

div[id^="subInnerDiv"][id$='_2'],
div[id^="subInnerDivMid"][id$='_2'] {
    justify-content: left;
}

.main-button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7%;
    padding: 3%;
    justify-items: center;
    height: 75%;
}

.bottom-section-container {
    height: 60%;
}

.bottom-row-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7%;
    padding: 3%;
    justify-items: center;
    height: 15%;
}

.action-button-main,
.action-button-bottom-row {
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    visibility: visible;
    font-weight: bold;
    font-size: 0.75em;
}

.first-row-main-buttons {
    min-height: 40px;
}

.second-row-main-buttons {
    min-height: 60px;
}

.third-row-main-buttons {
    min-height: 50px;
}

.fourth-row-main-buttons {
    min-height: 60px;
    grid-column-end: span 5;
    width: 100%;
}

.action-button-main:hover,
.action-button-bottom-row:hover,
.investmentComponent-button-top:hover,
.investmentComponent-button-bottom:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.action-button-main.cooking {
    background-color: darkkhaki;
    color: black;
    font-weight: bold;
    pointer-events: none;
}

.auto-shift-start-purchased {
    font-weight: bold;
    color: black;
}

.action-button-bottom-row.toggleable-button-off-state {
    background-color: white;
    color: black;
}

.action-button-bottom-row.non-repeatable-upgrade-purchased.toggleable-button-off-state {
    background-color: white;
    color: black;
}

.action-button-bottom-row.toggleable-button-off-state:hover {
    color: black;
}

.action-button-bottom-row.toggleable-button-on-state {
    background-color: chartreuse;
    color: black;
}

.action-button-bottom-row.toggleable-button-on-state:hover {
    color: black;
}

.action-button-main.non-repeatable-upgrade-purchased,
.action-button-bottom-row.non-repeatable-upgrade-purchased {
    background-color: chartreuse;
    color: black;
    font-weight: bold;
}

.action-button-main.disabled,
.action-button-bottom-row.disabled,
.investmentComponent-button.disabled {
    background-color: grey;
    color: black;
    pointer-events: none;
    font-weight: bold;
}

.action-button-main-flashing {
    color: lightcoral;
    background-color: darkred;
    pointer-events: none;
    font-weight: bold;
    animation: flash 0.5s infinite alternate;
}

@keyframes flash {
    from {
        color: lightcoral;
        background-color: darkred;
    }
    to {
        color: darkred;
        background-color: lightcoral;
    }
}

.waiting-trigger-auto-action {
    color: chartreuse;
    background-color: darkgreen;
    font-weight: bold;
    animation: flashAutoAction 0.5s infinite alternate;
}

@keyframes flashAutoAction {
    from {
        color: chartreuse;
        background-color: darkgreen;
    }
    to {
        color: darkgreen;
        background-color: chartreuse;
    }
}

.hidden-button {
    visibility: hidden;
}

.counter-columns {
    text-align: center;
    width: 20%;
    margin: 0 5%;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

/* End of Shift Popup CSS */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.95);
    border: 5px solid white;
    border-radius: 10px;
    z-index: 1000;
}

.popup-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-row-1 {
    height: 30%;
    justify-content: center;
    align-items: center;
}

.popup-row-2 {
    height: 50%;
    padding-left: 10%;
}

.popup-row-3 {
    height: 18%;
    justify-content: end;
    align-items: center;
    padding-bottom: 2%;
}

.popup-title {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.popup-content {
    color: white;
    font-size: 0.95em;
}

.popup-continue-button {
    width: 50%;
    height: 50%;
    background-color: forestgreen;
    color: chartreuse;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.5em;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}
.popup-continue-button:hover {
    background-color: chartreuse;
    color: forestgreen;
}

.text-bounce-animation {
    animation-name: textBounce;
    animation-duration: 0.5s;
}

@keyframes textBounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.7); }
    100% { transform: scale(1); }
}

.fade-text-animation {
    transition: opacity 0.5s ease;
}

/* INVESTMENT COMPONENTS */

.investmentComponent {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    visibility: visible;
    font-weight: bold;
    font-size: 0.75em;
}

.investmentComponent_title {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.investmentComponent_Buttons_Container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.investmentComponent_Buttons_Inner_Container {
    display: flex;
    height: 50%;
}

.investmentComponent-button-top {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-right: none;
    border-top: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    visibility: visible;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.investmentComponent-button-bottom {
    background-color: transparent;
    color: white;
    border: 2px none white;
    border-left-style: solid;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    visibility: visible;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.investment-data-screen {
    height: 100%;
    border: 2px white solid;
    border-radius: 10px;
}

.investment-data-grid {
    display: grid;
    grid-template-columns: 25% 10% 40% 25%;
    grid-template-rows: 30% 70%;
    width: 100%;
    height: 100%;
}

.investment-data-grid div {
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;

}

.investment-data-grid .top-row {
    height: 100%;
    border-bottom: 2px solid white;
}

.investment-data-grid .bottom-row {
    height: 100%;
}

.investment-data-grid div:nth-child(4n) {
    border-right: none;
}

